body {
  font-family: Arial, sans-serif;
  background-image: url('../../assets/img/login-admin/login_SA.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.login-container {
  background: linear-gradient(to right, #e6f1f1, #afedf3cc, #fdea95e7, #f9a073);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #000000;
  width: 90%; /* Ancho máximo relativo */
  max-width: 500px; /* Ancho máximo absoluto */
  box-sizing: border-box; /* Incluye padding y border en el ancho */
}

form {
  max-width: 100%;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding-left: 40px;
}

input[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #ff6b6b;
}

h2 {
  margin: 0;
  font-size: 24px;
  color: #000000;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.input-container {
  position: relative;
}

.input-container i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  color: #333;
}

#ID_Administrador,
#Contrasena,
.btn-icon {
  padding-left: 40px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px 50%;
}

.btn-admin, .btn-super-admin {
  display: inline-block;
  width: 120px;
  padding: 12px;
  margin-bottom: 15px;
  color: #000000;
  text-align: center;
  border-radius: 15px;
  text-decoration: none;
}

.btn-admin {
  background: linear-gradient(to right, #92f2fbcc, #bdfbfb);
  margin-right: 10px;
}

.btn-admin:hover {
  background: linear-gradient(to right, #bdfbfb, #92f2fbcc);
}

.btn-super-admin {
  background: linear-gradient(to right, #fdea95e7, #fdaa81);
  margin-left: 10px;
}

.btn-super-admin:hover {
  background: linear-gradient(to right, #fdaa81, #fdea95e7);
}

/* Media query para ajustes en pantallas más pequeñas */
@media (max-width: 768px) {
  .login-container {
    padding: 20px;
    border-radius: 15px;
  }

  input[type="text"],
  input[type="password"],
  input[type="submit"] {
    padding: 10px;
    font-size: 14px;
  }

  .btn-admin,
  .btn-super-admin {
    padding: 10px;
    font-size: 14px;
  }
}
