:root {
    --fontSize: 70;
}

.titulo {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

.titulo-letra {
    font-family: "Poppins", sans-serif;
    font-size: calc(var(--fontSize) * 1px);
    line-height: 1.14;
    font-weight: 800;
    margin: 0;
    padding: 0;
    color: black; 
}

.linea {
    flex-grow: 1;
    height: 6px;
    background-color: #e0dede;
    margin-left: 10px; 
    border: none;
}

.contenedor2 {
    text-align: center; 
}

.contenido1 {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between; 
    margin-top: 20px; 
}

.contenedor-externo {
    display: flex;
    justify-content: center;
    padding: 0 100px;
}

.texto {
    flex-grow: 3; 
    text-align: justify; 

}

.imagen {
    flex-shrink: 0; 
    margin-left: 50px; 
}

.texto p {
margin-bottom: 20px; 
}

.contenedor-externo {
display: flex;
justify-content: center; 
padding: 0 35px; 
}


@media screen and (max-width: 768px) {
    :root {
      --fontSize: 30; /* Reducir el tamaño de fuente base */
    }
  
    .titulo {
      margin-top: 5%; /* Utilizar un margen superior adaptable */
    }
  
    .titulo-letra {
      font-size: 2rem; /* Reducir el tamaño de fuente del título */
    }
  
    .imagen {
      margin-left: 17px; /* Eliminar el margen izquierdo en dispositivos móviles */
    }
  
    .contenido1 {
      flex-direction: column; /* Apilar el contenido verticalmente en dispositivos móviles */
      align-items: flex-start; /* Alinear el contenido a la izquierda */
    }
  
    .texto {
      margin-left: 0; /* Eliminar el margen izquierdo del texto en dispositivos móviles */
    }
  }
