/* Estilos para la tabla de comentarios */
.comment-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px; /* Reducir el margen superior */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    margin-top: 10px; /* Reducir el margen superior */
    text-align: left;
    font-size: 35px; /* Tamaño de letra del título */
}

.comment-table th,
.comment-table td {
    padding: 8px; /* Espacio alrededor del contenido */
    border: 1px solid #ccc;
    font-size: 14px; /* Tamaño de fuente de las celdas */
    text-align: center; /* Alinear contenido al centro */
}

.comment-table th {
    background: linear-gradient(to right, #e6f1f1, #ffffff);
}

.comment-table td img {
    max-width: 60px; /* Tamaño máximo de la imagen */
    border-radius: 5px; /* Radio del borde de las imágenes */
}

.descripcion-cell {
    max-width: 120px; /* Ancho máximo de la celda de descripción */
    overflow-x: auto;
    white-space: nowrap;
    text-align: center; /* Centrar el texto dentro de la celda de descripción */
}

/* Estilos para los botones */
.btn {
    padding: 6px 12px; /* Espacio alrededor del texto */
    font-size: 12px; /* Tamaño de fuente de los botones */
}

/* Estilos responsivos */
@media (max-width: 1024px) {
    .title {
        font-size: 30px; /* Ajustar tamaño de letra del título */
    }
    
    .comment-table th,
    .comment-table td {
        font-size: 13px; /* Ajustar tamaño de fuente de las celdas */
    }
    
    .descripcion-cell {
        max-width: 100px; /* Ajustar ancho máximo de la celda de descripción */
    }
    
    .comment-table td img {
        max-width: 50px; /* Ajustar tamaño máximo de la imagen */
    }
    
    .btn {
        padding: 5px 10px; /* Ajustar espacio alrededor del texto */
        font-size: 11px; /* Ajustar tamaño de fuente de los botones */
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 25px; /* Ajustar tamaño de letra del título */
    }
    
    .comment-table {
        margin-left: 0; /* Ajustar margen izquierdo */
    }
    
    .comment-table th,
    .comment-table td {
        font-size: 12px; /* Reducir tamaño de fuente de las celdas */
        padding: 6px; /* Ajustar espacio alrededor del contenido */
    }
    
    .descripcion-cell {
        max-width: 80px; /* Reducir el ancho máximo de la celda de descripción */
    }
    
    .comment-table td img {
        max-width: 40px; /* Reducir el tamaño máximo de las imágenes */
    }
    
    .btn {
        padding: 4px 8px; /* Reducir el espacio alrededor del texto de los botones */
        font-size: 10px; /* Reducir el tamaño de fuente de los botones */
    }
    
    .w-50-responsive {
        width: 100%; /* Ajustar el ancho del formulario para dispositivos móviles */
    }
    
    .btn-cerrar {
        margin-top: 5px; /* Ajustar margen superior del botón "Cerrar" */
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 20px; /* Ajustar tamaño de letra del título */
        text-align: center; /* Centrar el título */
    }
    
    .comment-table {
        width: 100%;
        margin-left: 0; /* Ajustar margen izquierdo */
    }
    
    .comment-table th,
    .comment-table td {
        font-size: 11px; /* Reducir tamaño de fuente de las celdas */
        padding: 4px; /* Ajustar espacio alrededor del contenido */
    }
    
    .descripcion-cell {
        max-width: 60px; /* Reducir el ancho máximo de la celda de descripción */
    }
    
    .comment-table td img {
        max-width: 30px; /* Reducir el tamaño máximo de las imágenes */
    }
    
    .btn {
        padding: 3px 6px; /* Reducir el espacio alrededor del texto de los botones */
        font-size: 9px; /* Reducir el tamaño de fuente de los botones */
    }
    
    .w-50-responsive {
        width: 100%; /* Ajustar el ancho del formulario para dispositivos móviles */
    }
    
    .btn-cerrar {
        margin-top: 5px; /* Ajustar margen superior del botón "Cerrar" */
    }
}
