.contenido {
    background :linear-gradient(to right, #c98139, #f13737cc, #eb7754e7, #cf8058);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.animal-card {
        background-color: purple;
        color: white;
    }
    .animal-card .estado-adopt {
        background-color: orange;
    }
    .animal-card .estado-proceso {
        background-color: yellow;
    }
    .card-text .btn {
        margin-top: 5px;
    }

    .card {
        height: 100%;
    }

    .card .card-img-top {
        height: 200px;
        object-fit: cover;
    }

    .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .card-title,
  .card-text,
  .card-text .btn {
    margin-bottom: 5px;
  }

  .card-text .btn {
    margin-top: auto;
  }