/*comentarios_historias.css*/
body {
    font-family: 'Source Sans 3', sans-serif; 
    color: #444444;
}

.form-container {
    padding: 10px; 
    max-width: 14cm; 
    margin: 0 auto; 
    background: linear-gradient(to right, #e6f1f1, #afedf3cc, #fdea95e7, #f9a073);
    border-radius: 5px;
}

.form-container h1,
.form-container h5 {
    text-align: center; 
}

.form-group label {
    font-weight: bold; 
}

.form-control {
    border: 1px solid #ced4da; 
    border-radius: 5px; 
    padding: 5px; 
    margin-bottom: 23px; 
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.6); 
}

.btn-primary {
    background-color: #007bff; 
    border: none; 
}

.btn-primary:hover {
    background-color: #0056b3; 
}

.comment-list {
    display: none; 
}

.show-comments {
    display: block; 
}

.list-group-item {
border: none; 
overflow: hidden; /* Oculta el contenido que se sale del contenedor */
}

.list-group-item .comment-text {
overflow: hidden; /* Oculta el texto que se sale del contenedor */
text-overflow: ellipsis; /* Añade puntos suspensivos al final del texto si se sale del contenedor */
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3; /* Número de líneas a mostrar */
}

.comment-container {
font-family: 'Source Sans 3', sans-serif; 
color: #444444;
border: 1px solid #ccc; 
padding: 10px; 
background: linear-gradient(to right, #e6f1f1, #d6fbffcc); 
margin-bottom: 10px; 
border-radius: 5px;
}

.comment-container .comment-text {
text-align: justify; /* Justifica el texto del comentario */
}


.list-group-item::before {
content: "";
display: block;
height: 1px;
background-color: #fff; 
margin-top: 10px; 
}

.poste {
background-image: url('https://images.moqups.com/repo/RcVv9iMoCs1Xou20BhiDQL8vlVPeCyBp/p_fXXmkYw3IQMv2g0y2wz86dk6AAesO5NP/XarsIOKwiQI3KyMGosIEtddGAlhCfUPZ.png?Expires=1695421320&Signature=UH9QMk5Kv2yug6bUiG1laXtW4fyx1Mrf~8KgtqX06j9bs08bpHaEpNCg9skxNtdaoCEgZA-A7qjq8xU0QxqdJFGlioGWMVawy7OSK~7lI6kmZ0zC4EsJ~wwxKI8Xbeg7TlByLEhEs8qVQzhiEeeqMB5dH-wmpqf5mDe4Nh76ME7kW1B4C0qOpAcFyx3apf9jL8ddKJqQ7f1NAl9GwBG7cwPAiJD~ccjTQRrmeS~Bma94qQSf-OP6g1GMNmSQ7O1ColMxqC5yEwLJcVra2cb0znif29t3TCyKq5Iu8qIWcGFYZFp5qTxXXdMj5bqyZLE8CAOZn-4SjNGwXzbXkjQwyg__&Key-Pair-Id=K1TPUF1X6HKIYU'); 
background-size: cover; 
background-repeat: no-repeat; 
border: 2px solid #fff; 
border-radius: 5px;
padding: 20px; 
width: 360px; 
height: 740px;
position: relative; 
}


.clip {
width: 40px; 
height: 20px;
background-color: #ffd3d3;
position: absolute;
top: -10px; 
left: 50%; 
transform: translateX(-50%);
clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%); 
}

.carta {
margin-bottom: 20px; 
text-align: justify;
}

.carta .card-body {
font-size: 14px; 
}

.custom-image {
width: 150px;
height: 150px; 
object-fit: cover;
}

.caja {
    display: flex; 
    justify-content: space-between; 
}

.cajaderecha {
    flex: 1; 
    padding: 20px;
}

.cajaizquierda {
    flex: 0; 
    padding: 20px;
    margin-right: 2cm; 
}

@media (max-width: 750px) {
    .poste {
        background-image: url('https://images.moqups.com/repo/RcVv9iMoCs1Xou20BhiDQL8vlVPeCyBp/p_fXXmkYw3IQMv2g0y2wz86dk6AAesO5NP/XarsIOKwiQI3KyMGosIEtddGAlhCfUPZ.png?Expires=1695421320&Signature=UH9QMk5Kv2yug6bUiG1laXtW4fyx1Mrf~8KgtqX06j9bs08bpHaEpNCg9skxNtdaoCEgZA-A7qjq8xU0QxqdJFGlioGWMVawy7OSK~7lI6kmZ0zC4EsJ~wwxKI8Xbeg7TlByLEhEs8qVQzhiEeeqMB5dH-wmpqf5mDe4Nh76ME7kW1B4C0qOpAcFyx3apf9jL8ddKJqQ7f1NAl9GwBG7cwPAiJD~ccjTQRrmeS~Bma94qQSf-OP6g1GMNmSQ7O1ColMxqC5yEwLJcVra2cb0znif29t3TCyKq5Iu8qIWcGFYZFp5qTxXXdMj5bqyZLE8CAOZn-4SjNGwXzbXkjQwyg__&Key-Pair-Id=K1TPUF1X6HKIYU'); 
        background-size: cover;
        background-repeat: no-repeat;
        border: 2px solid #fff;
        border-radius: 5px;
        padding: 20px;
        width: calc(100% - 20px); /* Ajuste para que ocupe el 100% del contenedor menos los márgenes */
        height: auto; 
        margin: 10px auto; /* Ajuste para centrar el elemento y agregar margen superior e inferior */
        position: relative;
        box-sizing: border-box; 
    }
} 

