body {
    font-family: Arial, sans-serif;
    background-image: url('https://images.moqups.com/repo/RcVv9iMoCs1Xou20BhiDQL8vlVPeCyBp/p_fXXmkYw3IQMv2g0y2wz86dk6AAesO5NP/zWiZs3qNuM5h1edOQq3Tq2GH2Ie4Tuep.png?Expires=1695515377&Signature=kz8kPP4jU529LicPivmChlI0PYQ2vkkNHFW8HnL2L1e1OiyDGPeF5K8B-E~B9AAT83jYo8PEl1LmH3uARHxsuMfIxUWSnIJ7-K~~Soi2Wki4RXi9V7VJfoxNdg-AaQ-ArwXmCSxoVRGKCD2mv3bt68mKuLcoBZbR9cxw1IkMpcj34Mlng96K3rfnzvNo94zLkFMAMNESrOZa92zAbDfQmYrCqYfvht3ovpPxqSst67aV~q-cG3EFmsGd4T23W3YZ-S6JrJV9sK9-X2y3pyexKoS4McjHS6oZSvjVXh~e6eKzwy98wnKrfv8LpD6lypxaUAIdtYZf1Rp6OF7Xj7wlQA__&Key-Pair-Id=K1TPUF1X6HKIYU');
    margin: 0;
    padding: 0;
}

.bienvenido {
    font-size: 1.6rem;
    font-weight: bold;
    color: #4C73BF;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
    font-size: 0.9rem;
    text-align: center;
}

label {
    color: #4C73BF;
    font-size: 1rem;
}

.g-recaptcha {
    margin-top: 15px;
}

.custom-form {
    max-width: 400px;
    margin: 45px auto; 
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}

.mensaje-exito {
    color: #28a745;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.mensaje-error {
    color: #dc3545;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.custom-button {
background-color: rgb(102, 230, 250); 
color: rgb(0, 0, 0);
padding: 5px 10px;
border: none;
border-radius: 5px;
cursor: pointer;
}

.custom-button2 {
    background-color: rgb(248, 209, 91); 
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

/* Estilo para el contenedor */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* Estilo para las imágenes */
.container img {
    max-width: 30%;
    margin-bottom: 20px;    
    width: 350px;
    height: auto;
}


/* Ajuste para pantallas pequeñas */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .container img {
        max-width: 100%;
    }
}
