body {
  font-family: Arial, sans-serif;
  background-image: url('../../assets/img/login-admin/foto.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: flex-start; /* Alinea el contenedor al inicio (izquierda) */
  align-items: center; /* Centra el contenido verticalmente */
  padding-left: 15%; /* Espaciado desde la izquierda según sea necesario */
}

.login-container {
  background: linear-gradient(to right, #e6f1f1, #afedf3cc, #fdea95e7, #f9a073);
  padding: 49px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #000000;
  width: 450px; /* Ancho fijo para el contenedor */
}

form {
  max-width: 300px;
  margin: 0 auto;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 15px; /* Ajusta el redondeo de los campos de entrada */
  padding-left: 30px; /* Espacio para iconos */
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 15px; /* Ajusta el redondeo del botón de envío */
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #ff6b6b; /* Cambio de color al pasar el ratón */
}

h2 {
  margin: 0;
  font-size: 24px;
  color: #000000;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.input-container {
  position: relative;
}

.input-container i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: #333;
}

#ID_Administrador {
  padding-left: 30px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 5px 50%;
}

#Contrasena {
  padding-left: 30px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 5px 50%;
}

.btn-icon {
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 5px 50%;
  padding-left: 30px;
  cursor: pointer;
}
