.custom-search-form .input-group {
    line-height: 1;
  }
  
  .custom-search-form .input-group .form-control {
    line-height: inherit;
  }
  
  .custom-search-form .input-group-append {
    margin-left: -5px;
    line-height: 2; /* Reiniciar la altura de línea para los botones */
  }
  
  .custom-search-form .input-group .btn {
    margin-left: 5px;
    padding: 6px 12px; /* Ajustar el relleno de los botones */
    line-height: 3; /* Ajustar la altura de línea de los botones */
  }
  
  /* Estilos para la tabla de adoptantes */
.adoptantes-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px; /* Reducir el margen superior */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    margin-top: 10px; /* Reducir el margen superior */
    text-align: center; /* Centrar el título */
    font-size: 35px; /* Tamaño de letra del título */
  }
  
  .adoptantes-table th,
  .adoptantes-table td {
    padding: 8px; /* Espacio alrededor del contenido */
    border: 1px solid #ccc;
    font-size: 14px; /* Tamaño de fuente de las celdas */
    text-align: center; /* Alinear contenido a la izquierda */
  }
  
  .adoptantes-table th {
    background: linear-gradient(to right, #ffdab9, #ffecd2); /* Degradado naranja pastel a amarillo pastel */
  }
  
  .adoptantes-table td img {
    max-width: 60px; /* Tamaño máximo de la imagen */
    border-radius: 5px; /* Radio del borde de las imágenes */
  }
  
  .descripcion-cell {
    max-width: 120px; /* Ancho máximo de la celda de descripción */
    overflow-x: auto;
    white-space: nowrap;
    background: url('ruta/al/ícono-de-flecha.png') no-repeat right center;
    text-align: center; /* Centrar el texto dentro de la celda de descripción */
  }
  /* Estilos para los botones */
  .btn {
    padding: 6px 12px; /* Espacio alrededor del texto */
    font-size: 12px; /* Tamaño de fuente de los botones */
  }
  
  .btn:hover {
    background-color: #515457; /* Cambiar color de fondo al hacer hover */
  }
  
  
  /* Estilos para pantallas pequeñas */
  @media (max-width: 768px) {
    .adoptantes-table {
      width: 100%;
      margin: 10px 0; /* Eliminar el margen horizontal */
    }
  
    .title {
      font-size: 28px; /* Reducir el tamaño de fuente del título */
    }
  
    .adoptantes-table th,
    .adoptantes-table td {
      font-size: 12px; /* Reducir el tamaño de fuente de las celdas */
    }
  
    .adoptantes-table td img {
      max-width: 40px; /* Reducir el tamaño máximo de la imagen */
    }
  
    .descripcion-cell {
      max-width: 80px; /* Reducir el ancho máximo de la celda de descripción */
    }
  }