/* Estilos para la tabla de animales */
.animal-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title{
    margin-top: 20px;
    text-align: left;
    font-size: 30px; /* Agrandar el tamaño de la letra */
}

.animal-table th,
.animal-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 16px;
}

.animal-table th {
    background: linear-gradient(to right, #e6f1f1, #afedf3cc);
}

.animal-table td img {
    max-width: 100px;
    border-radius: 10px;
}
