/* Estilos para la tabla de animales */
.animal-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    margin-top: 20px;
    text-align: left;
    font-size: 30px; /* Agrandar el tamaño de la letra */
}

.animal-table th,
.animal-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 16px;
}

.animal-table th {
    background: linear-gradient(to right, #e6f1f1, #afedf3cc);
}

.animal-table td img {
    max-width: 100px;
    border-radius: 10px;
}


/* Estilos responsivos */
@media (max-width: 992px) {
    .animal-table th,
    .animal-table td {
        font-size: 14px;
        padding: 8px;
    }

    .title {
        font-size: 26px;
    }

    .animal-table td img {
        max-width: 80px;
    }
}

@media (max-width: 768px) {
    .animal-table th,
    .animal-table td {
        font-size: 12px;
        padding: 6px;
    }

    .title {
        font-size: 22px;
    }

    .animal-table td img {
        max-width: 60px;
    }
}

@media (max-width: 576px) {
    .animal-table th,
    .animal-table td {
        font-size: 10px;
        padding: 4px;
    }

    .title {
        font-size: 18px;
        text-align: center;
    }

    .animal-table td img {
        max-width: 40px;
    }
}
